<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-900 text-white py-5 overflow-hidden">
    <div class="w-full h-screen z-10 bg-gray-100">
     <video class="w-screen object-cover object-center h-screen" autoplay loop controls  src="/images/1106(1).mp4"></video>
     <div class="z-20 absolute bottom-0 w-full h-40 bg-transparent gap-10 flex">
        <div class="pt-12 px-2">
            <div class="flex items-center justify-start  gap-2">
                <div class="h-8 w-8 bg-zinc-900 rounded-md overflow-hidden">
                    <img class="object-cover  object-center" src="/images/image.png" alt="">
                </div>
               
                <h5>Ankit Sing</h5>
            </div>
            <h6 class="text-sm">Lorem ipsum dolor sit amet.</h6>
        </div>

        <div class="ml-10">
            <h1 class="h-8 w-8 bg-zinc-900 rounded-md mt-2"></h1>
            <h1 class="h-8 w-8 bg-zinc-900 rounded-md mt-2"></h1>
        </div>
     </div>
    </div>
    <div class="w-full h-screen z-10 bg-gray-100">
        <video class="w-screen object-cover object-center h-screen" autoplay loop controls  src="/images/1106(1).mp4"></video>
        <div class="z-20 absolute bottom-0 w-full h-40 bg-transparent gap-10 flex">
           <div class="pt-12 px-2">
               <div class="flex items-center justify-start  gap-2">
                   <div class="h-8 w-8 bg-zinc-900 rounded-md overflow-hidden">
                       <img class="object-cover  object-center" src="/images/image.png" alt="">
                   </div>
                  
                   <h5>Ankit Sing</h5>
               </div>
               <h6 class="text-sm">Lorem ipsum dolor sit amet.</h6>
           </div>
   
           <div class="ml-10">
               <h1 class="h-8 w-8 bg-zinc-900 rounded-md mt-2"></h1>
               <h1 class="h-8 w-8 bg-zinc-900 rounded-md mt-2"></h1>
           </div>
        </div>
 </div>
 <div class="w-full h-screen z-10 bg-gray-100">
    <video class="w-screen object-cover object-center h-screen" autoplay loop controls  src="/images/1106(1).mp4"></video>
    <div class="z-20 absolute bottom-0 w-full h-40 bg-transparent gap-10 flex">
       <div class="pt-12 px-2">
           <div class="flex items-center justify-start  gap-2">
               <div class="h-8 w-8 bg-zinc-900 rounded-md overflow-hidden">
                   <img class="object-cover  object-center" src="/images/image.png" alt="">
               </div>
              
               <h5>Ankit Sing</h5>
           </div>
           <h6 class="text-sm">Lorem ipsum dolor sit amet.</h6>
       </div>

       <div class="ml-10">
           <h1 class="h-8 w-8 bg-zinc-900 rounded-md mt-2"></h1>
           <h1 class="h-8 w-8 bg-zinc-900 rounded-md mt-2"></h1>
       </div>
    </div>
   </div>
</div>


<% include ./partials/footer.ejs %>